<footer class="footer">
  <div class="footer_container">
    <div class="footer_left_content">
      <div class="footer_logo">
        <img src="assets/Logo-EuDiversidade-Texto.png" width="200px" height="115" alt=""/>
      </div>
      <div class="footer_paginas">
        <ul style="list-style-type: none;">
          <li class="footer_paginas_decoration" style="border-right: 1px solid white;">
            <a routerLink="/home" fragment="inicioComponent" style="color: white">Inicio</a>
          </li>
          <li class="footer_paginas_decoration" style="border-right: 1px solid white;">
            <a routerLink="/home" fragment="projetosComponent" style="color: white">Projetos</a>
          </li>
          <li class="footer_paginas_decoration">
            <a routerLink="/home" fragment="quemSomosComponent" style="color: white">Sobre nos</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer_right_content">
      <div class="footer_solcialLinks">
        <ul>
          <li style="padding-right: 2%;">
            <a><img src="assets\Instagram-Icon.png" style="width: 20px; height: 20px; padding: 1px;"></a>
          </li>
          <li style="padding-right: 2%;">
            <a><img src="assets\Twitter-Icon.png" style="width: 20px; height: 20px; padding: 1px;"></a>
          </li>
          <li style="padding-right: 3%;">
            <a><img src="assets\Facebook-Icon.png" style="width: 20px; height: 20px;"></a>
          </li>
        </ul>
      </div>
      <div class="footer_contato">
        <button>Contato</button>
      </div>
    </div>
  </div>
</footer>
