<div class="whoWeAre_container">
  <h2 style="text-shadow: 2px 4px 4px black; color: white; text-align: center;">Quem Somos Nos</h2>
  <div class="whoWeAre_content">
    <div class="whoWeAre_image" style="padding-left: 3%;">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/WhoAreWe-Vitor.png" width="300px" height="300px">
          </div>
          <div class="carousel-item">
            <img src="assets/WhoAreWe-Gustavo.png" width="300px" height="300px">
          </div>
          <div class="carousel-item">
            <img src="assets/WhoAreWe-Thiago.png" width="300px" height="300px">
          </div>
          <div class="carousel-item">
            <img src="assets/WhoAreWe-Pedro.png" width="300px" height="300px">
          </div>
        </div>
      </div>
    </div>

    <div class="whoWeAre_text">
      <div class="whoWeAre_text_content">
        <p style="text-shadow: 2px 4px 4px black; color: white">Nos somos uma empresa especializada em
          consultoria e auxilio de pessoas especiais.</p>
          <p style="text-shadow: 2px 4px 4px black; color: white">Nosso diferencial e como tratamos o nossos
            clientes com extrema equidade, procurando
            ao maximo auxiliar, monitorar e ensinar a
            pessoas especiais.
            Nos oferecemos ao clientes serviços que os
            auxiliam no seu dia dia: </p>
          <p style="text-shadow: 2px 4px 4px black; color: white">Consultoria, Auxilio a familiares, auxilio a pessoas especiais.</p>
      </div>
    </div>
  </div>
</div>
